<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <h4>學歷</h4>
            <div class="hline"></div>
            <p><a target="_blank" href="http://illinois.edu/">University of Illinois at Urbana-Champaign</a></p>
            <p>2007 9月 - 2011 5月</p>
            <p>BS in Stats/Computer Science (LAS)</p>
        </div>

        <div class="col-lg-6">
            <h4>經歷</h4>
            <div class="hline"></div>
            <p><a target="_blank" href="http://www.gss.com.tw/">叡揚資訊股份有限公司</a></p>
            <p>程式設計師 >> 2011 6月 - 2014 5月</p>
            <p><a target="_blank" href="https://www.pixnet.net/">痞客邦 - 優像數位媒體科技(股)公司</a></p>
            <p>前端設計師 >> 2014 6月 - </p>
        </div>

    </div><! --/row -->
</div><! --/container -->