<div class="container">
    <div class="page-header">
        <h1 id="timeline">EXPERIENCE</h1>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge">
                <span>2007</span>
            </div>
        </li>
        <li class="timeline">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">
                        <a href="http://illinois.edu/">University of Illinois at Urbana-Champaign</a>
                    </h4>
                    <p><small class="text-muted">
                        <i class="glyphicon glyphicon-time"></i>
                        BS in Stats/Computer Science (LAS)</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>- 學習基礎程式語言 - JAVA 跟 C, 並邏輯概念</p>
                    <p>- 加入台灣同學會，擔任 2011 年活動組長。參與策劃年度大型活動流程，包括第一屆全美最大的台灣同學籃球運動會 - 中西部 TSA 校際聯賽</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge">
                <span>2011</span>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">
                        <a href="http://www.gss.com.tw/">叡揚資訊</a>
                    </h4>
                    <p><small class="text-muted">
                        <i class="glyphicon glyphicon-time"></i>
                        程式設計師</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>- 運用 Wicket framework 製作產品的會議系統介面</p>
                    <p>- 撰寫透過 JSON 格式跟前端介接的 api</p>
                    <p>- 架 ubuntu 測試站 server</p>
                    <p>- 使用 subversion 做版本控管</p>
                </div>
            </div>
        </li>
        <li class="timeline">
            <div class="timeline-badge warning">
                <span>2013</span>
            </div>
        </li>
        <li class="timeline">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">
                        <a href="http://www.gss.com.tw/">叡揚資訊</a>- 前端時期
                    </h4>
                </div>
                <div class="timeline-body">
                    <p>- 撰寫開發給 iOS 跟 Android 的 mobile web application</p>
                    <p>- phonegap:</p>
                    <p>- AngularJS:</p>
                    <p>- scss:</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger">
                <span>2014</span>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">
                        <a href="https://www.pixnet.net/">痞客邦</a>
                    </h4>
                </div>
                <div class="timeline-body">
                    <p>- 使用 git 做版本控管</p>
                    <p>- 使用 coffee script 修改 PIXNET open api 功能</p>
                    <p>- 中型 AngularJS 網站前端 - App market</p>
                    <p>- 支援跨瀏覽器 (包括 ie8)</p>
                    <p>- 思考解決 AJAX 網站常遇到 seo 跟 效能問題</p>
                    <p>- 使用 Restful 介接，並運用經驗跟後端討論出最佳的 end point 跟 JSON 格式</p>
                </div>
            </div>
        </li>
        <li class="timeline">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">
                        參加 IT 鐵人賽完賽 - 我在前端 ng 時
                    </h4>
                </div>
                <div class="timeline-body">
                    <p>優選</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">
                        <a href="https://www.pixnet.net/">痞客邦</a>
                    </h4>
                </div>
                <div class="timeline-body">
                    <p>第一個 AngularJS 大型網站 - 後台改版</p>

                    <p>user experience: 研究, 分析, 並討論如何使使用者互動更好</p>

                    <p>參與前端 JavsScript 架構，導入模組化架構</p>

                    <p>支援跨平台 - 觸控式面板跟電腦網站</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info">
                <span>2015</span>
            </div>
        </li>
    </ul>
</div>