/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'normalize.css';
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Cookie);
@import 'fontello.css';
@import 'skeleton.css';
@import 'compass/css3';

$backgroundColor: rgb(249,229,202);
$titleColor: #45678a;
$titleHeight: 400px;
$image-url: '../../images/';
$skillList: java, f2e;

@mixin mediaQueryTabletP(){
  //#Tablet (Portrait)
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    @content
  }
}

@mixin mediaQueryMobileP(){
  //#Tablet (Portrait)
  //#Mobile (Portrait)
  @media only screen and (max-width: 767px) {
    @content
  }
}

@mixin mediaQueryMobileL(){
  //#Mobile (Landscape)
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    @content
  }
}

@mixin absolutePosition($top: 0, $right: 0, $bottom: 0, $left: 0){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin relativePosition($top: 0, $right: 0, $bottom: 0, $left: 0){
  position: relative;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixedPosition($top: 0, $right: 0, $bottom: 0, $left: 0){
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin skillImage($url) {
    @include border-radius(50%);
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url("#{$image-url}#{$url}") no-repeat;
    background-size: 150px 150px;
}

body{
  height: 1500px;
  font-size: 16px;
  background: $backgroundColor;
}

.mainTitle {
  @include absolutePosition($bottom: auto);
  @include box-shadow(0px 2px 3px #1F1F1F);
  height: 400px;
  background: $titleColor;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  .navSection {
    @include absolutePosition($right: auto, $bottom: auto);
    background: $titleColor;
    nav{
      font-size: 1.5rem;
      //color: scale-lightness($backgroundColor, 20%);
      margin-right: 50px;
      margin-top: 20px;
      .link {
        @include text-shadow(0 -1px 1px rgba(0,0,0,0.8));
        cursor: pointer;
        color: adjust-saturation($backgroundColor, 50%);
        padding: 5px 15px;
        &:hover {
          color: $backgroundColor;
          @include text-shadow(0 1px 1px rgba(0,0,0,0.8));
        }
      }
    }
    &.navbar-fixed {
      @include box-shadow(0px 1px 2px rgba(0,0,0,0.5));
      border-bottom-right-radius: 3px;
      position: fixed;
      text-align: right;
      width: 150px;
      nav {
        margin: 10px;
      }
    }
  }
  .nameTitle {
    font-family: 'Cookie', cursive;
    color: $backgroundColor;
    position: relative;
    top: 15%;
    left: 33%;
    width: 570px;
    height: 550px;
    background: url("#{$image-url}my.png") no-repeat;
    background-position: 100% 45px;
    background-size: 350px;
    .name{
      font-size: 8rem;
      padding: 0 12px;
      display: inline-block;
    }
    .subTitle {
      font-size: 2.5rem;
      position: relative;
      margin: -5px 80px;
      .wannaMessage{
        $bubblesColor: rgb(221,78,12);
        @include border-radius(25px);
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 2rem;
        position: absolute;
        top: 20px;
        left: -200px;
        background: $bubblesColor;
        color: $backgroundColor;
        padding: 10px 20px;
        &::before {
          content:"";
          position: absolute;
          top: 0;
          right: -7px;
          border-style: solid;
          border-width: 30px 30px 0 0;
          border-color: $bubblesColor transparent transparent transparent;
        }
      }
    }
    @include mediaQueryTabletP(){
      width: 450px;
      top: 15%;
      left: 28%;
      background-position: 100% 25px;
      background-size: 350px;
      .name{
        font-size: 7rem;
      }
    }
    @include mediaQueryMobileP(){
      width: 320px;
      top: 10%;
      left: 5%;
      background-position: 0 0;
      background-size: 300px;
      .name{
        font-size: 5rem;
      }
      .subTitle {
        margin: -5px 50px;
        .f2eMessage,
        .wannaMessage{
          display: inline-block;
        }
        .f2eMessage {
          width: 300px;
        }
        .wannaMessage{
          position: relative;
          top: auto;
          left: auto;
          padding: 0px 10px;
          &::before {
            content: none;
          }
        }
      }
    }
    @include mediaQueryMobileL(){
      width: 350px;
      top: 15%;
      left: 25%;
      background-position: 100% 15px;
      background-size: 300px;
      .name{
        font-size: 5rem;
      }
    }
  }
  .bottomTriangle{
    // bottom triangle
    border-style: solid;
    border-width: 25px 25px 0;
    border-color: $titleColor transparent transparent transparent;
    position: absolute;
    bottom: -25px;
    left: 47%;
    &::after {
      content: "";
      border-style: solid;
      border-width: 25px 25px 0;
      border-color: rgba(31,31,31,0.5) transparent transparent transparent;
      position: absolute;
      bottom: -2px;
      z-index: -1;
      left: -25px;
    }
  }
}


.mainSection {
  @include absolutePosition($top: $titleHeight + 50px);
  padding: 0 3%;
}

%mySection {
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  .textHeader{
    text-align: right;
  }
  .subContainer{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.line {
  width: 625px;
  color: $titleColor;
  margin: 10px auto;
  &::before, &::after {
    content:"";
    display: inline-block;
    background: url("#{$image-url}line.png") repeat-x;
    width: 300px;
    height: 10px;
  }
  @include mediaQueryTabletP(){
    width: 625px;
    &::before, &::after {
      width: 300px;
    }
  }
  @include mediaQueryMobileP(){
    width: 300px;
    &::before, &::after {
      width: 135px;
    }
  }
  @include mediaQueryMobileL(){
    width: 525px;
    &::before, &::after {
      width: 225px;
    }
  }
}

.aboutSection{
  @extend %mySection;
  .aboutMessage {
  }
}

.workSection {
  @extend %mySection;
  .uiuc,
  .gss{
    .title {
      font-size: 1.2rem;
    }
    .date{
      font-size: 0.9rem;
    }
    .name{
      font-size: 1.2rem;
    }
  }
  .gss {
    margin-top: 10px;
  }
}

.skillSection {
  text-align: center;
  line-height: 24px;
  .f2eSkill {
    margin-bottom: 20px;
  }
  .skillTitle {
    display: block;
    font-size: 2em;
    width: 100%;
    margin: 10px 0;
  }
  .skillContent {
    display: inline-block;
    width: 80%;
  }
  .html5Image {
    @include skillImage('base.png');
  }
  .phoneImage {
    @include skillImage('phone.png');
  }
  .javaImage {
    @include skillImage('java.png');
  }
  .moreImage {
    @include skillImage('more.png');
  }

}

.contactSection {
  font-size: 1.2em;
  .subSection {
    width: 320px;
    margin: 15px auto;
  }
  a {
    color: black;
  }
}

footer{
  @include relativePosition($top: 100%);
  border-top: 2px solid shade($titleColor, 50%);
  text-align: center;
  padding: 15px 0;
  a {
    background: tint($backgroundColor, 50%);
  }
}
